$color_pro-title: hsl(0, 100%, 60%);
$color_college-title: hsl(195, 100%, 40%);
$color_hs-title: hsl(140, 100%, 30%);
$color_marathon-title: hsl(270, 50%, 40%);
$color_mixed-bg: hsl(0, 0%, 90%);
$color_text-white: hsl(0, 0%, 98%);
$color_text-black: hsl(0, 0%, 5%);

$color_section-bg-light-percent: 85%;
