$header-text__pro: "Professional & Entertainment";
$header-text__college: "Intercollegiate";
$header-text__hs: "Interscholastic";
$header-text__marathon: "Marathon & Endurance Events";

$section-tab: 1.6rem;

$mixed-section_beam-angle: 70deg;
$mixed-section_beam-height: 3.2rem;

$max-paragraph-characters: 60ch;
$max-list-characters: 30ch;

$bp-topic-angle: 70deg;
