.ncs4-icon-block {
  display: inline-block;
  
  img, svg, .dashicons {
    font-size: var(--image-size, 16px);
    width: var(--image-size, 16px);
    height: auto;
  }

  .dashicons {
    color: var(--dashicons-color, "inherit");
  }
}
