@use 'sass:math';
@import '../../sass/ncs4-pro-colors';
@import '../../popup/sass/__popup';

.ncs4-description-popup {
  display: flex;
  flex-direction: column;
  background-color: $color_white-dark;
  padding: 1.5rem 2.5rem;
  height: 100%;

  &__name {
    text-transform: none;
    margin-top: 0;
    color: $color_link-1;
  }

  .ncs4-popup-button {
    align-self: end;
    margin-top: auto;
  }

  &__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1em;
    gap: 1em;


    .ncs4-description-popup__img, embed {
      margin: 0 auto;
      max-width: max(50%, 16ch);
      max-height: 7em;
      flex: 1 0 auto;
    }

    .ncs4-description-popup__img img {
      display: block;
      max-height: 100%;
      width: auto;
    }

    .ncs4-button {
      margin: auto;
      flex: 0 0 auto;
    }
  }
}
