@use 'sass:math';
@import '../../sass/ncs4-pro-colors';
@import '../../popup/sass/__popup';

.ncs4-description-popup {
  @include popup-style();

  &__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1em;
    gap: 1em;
    max-height: 7em;


    .ncs4-description-popup__img, embed {
      margin: 0 auto;
      max-width: max(50%, 16ch);
      max-height: inherit;
      flex: 1 0 auto;
    }

    .ncs4-description-popup__img img {
      display: block;
      max-height: 100%;
    }

    .ncs4-button {
      margin: auto;
      flex: 0 0 auto;
    }
  }
}
