@use 'sass:math';
@import '../../sass/ncs4-pro-colors';
@import '../../popup/sass/__popup';

.ncs4-description-popup {
  @include popup-style();

  &__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1em;
    gap: 1em;


    .ncs4-description-popup__img, embed {
      margin: 0 auto;
      max-width: max(40%, 16ch);
      height: fit-content;
      flex: 1 0 auto;

      img, svg {
        max-height: 6em;
        display: block;
      }
    }
    .ncs4-button {
      margin: auto;
      flex: 0 0 auto;
    }
  }
}
