@use 'sass:math';
@import '../../sass/ncs4-pro-colors';
@import '../../popup/sass/__popup-edit';

.ncs4-award-card {
  background: $color_white-dark;
  transform: none !important;

  .ncs4-popup-link {
    padding: 0;
  }

  &__name {
    color: $color_link-1;
  }

  .ncs4-popup__popup-header {
    display: none;
  }

  .ncs4-popup-content {
    background-color: transparent !important;
  }

  .ncs4-popup__popup-body {
    padding: 0 !important;
    box-shadow: none !important;

    .ncs4-award-card__popup-description {
      display: none;
    }
  }
}

.ncs4-award-recipient__edit-delete {
  &.toggled {
    color: red;
  }
}

.ncs4-award-recipient__edit-cancel {
  &.toggled {
    color: red;
  }
}

.ncs4-award-recipient__edit-cancel,
.ncs4-award-recipient__edit-delete,
.ncs4-award-recipient__edit-save {
  font-size: 2em;
  width: auto;
  height: auto;
  margin-bottom: 0.4em;
}

.ncs4-award-recipient__input-fields-area {
  display: flex;
  padding: 0 1px;
  flex-direction: column;
}

.ncs4-award-recipient__organization-container,
.ncs4-award-recipient__year-container {

  label, input {
    width: 100%;
  }
}

.ncs4-award-recipient__field-row {
  display: flex;
  gap: 0.8em;
}

.ncs4-award-recipient__organization-container {
  max-width: 40%;
}

.ncs4-award-recipient__year-container {
  //max-width: 20%;
}
