@use 'sass:math';
@import '../../sass/ncs4-pro-colors';

.ncs4-award-card {

  &__popup-name {
    color: $color_link-1;
  }

  &__recipient-section-header {
    color: $color_secondary-2;
  }
}

.ncs4-award-recipient {

  &__name {
    font-weight: bold;
  }

  &__position, &__year {
    font-style: italic;
  }
}
