.ncs4-bp-buttons .ncs4-bp-btn {
  color: #fafafa;
  font-size: 0.95rem;
  text-align: left;
  background: none;
  padding: 0.8rem;
  margin-right: 1.5rem;
  margin-bottom: 0.8rem;
  border: 2px solid transparent;
}
.ncs4-bp-buttons .ncs4-bp-btn__pro {
  background-color: #ff3333;
}
.ncs4-bp-buttons .ncs4-bp-btn__pro:hover, .ncs4-bp-buttons .ncs4-bp-btn__pro:focus {
  background-color: #ff3333;
}
.ncs4-bp-buttons .ncs4-bp-btn__college {
  background-color: #0099cc;
}
.ncs4-bp-buttons .ncs4-bp-btn__college:hover, .ncs4-bp-buttons .ncs4-bp-btn__college:focus {
  background-color: #0099cc;
}
.ncs4-bp-buttons .ncs4-bp-btn__hs {
  background-color: #009933;
}
.ncs4-bp-buttons .ncs4-bp-btn__hs:hover, .ncs4-bp-buttons .ncs4-bp-btn__hs:focus {
  background-color: #009933;
}
.ncs4-bp-buttons .ncs4-bp-btn__marathon {
  background-color: rebeccapurple;
}
.ncs4-bp-buttons .ncs4-bp-btn__marathon:hover, .ncs4-bp-buttons .ncs4-bp-btn__marathon:focus {
  background-color: rebeccapurple;
}
.ncs4-bp-buttons .ncs4-bp-btn p {
  margin: 0;
}
.ncs4-bp-lbl {
  margin: 0;
  font-weight: bold;
  font-size: 2rem;
}

.ncs4-bp-buttons .ncs4-bp-btn:last-of-type {
  margin-right: 0;
}
.ncs4-bp-buttons .ncs4-bp-btn:hover, .ncs4-bp-buttons .ncs4-bp-btn:focus {
  border: 2px solid #0d0d0d;
  transform: scale(1.1);
}
.ncs4-bp-buttons .ncs4-bp-btn:hover p, .ncs4-bp-buttons .ncs4-bp-btn:focus p {
  text-decoration: underline;
}
.ncs4-bp-buttons .ncs4-bp-btn:active {
  transform: scale(0.9);
}
.ncs4-bp-buttons .ncs4-bp-btn:focus, .ncs4-bp-buttons .ncs4-bp-btn:focus-visible {
  outline: none;
}
@media (prefers-reduced-motion) {
  .ncs4-bp-buttons .ncs4-bp-btn {
    transform: none !important;
  }
}

.ncs4-bp-check {
  display: none;
  /* Special Case for mixed sections */
  /* Special Case for mixed sections */
  /* Special Case for mixed sections */
  /* Special Case for mixed sections */
}
.ncs4-bp-check__pro:checked ~ .ncs4-bp-buttons .ncs4-bp-btn__pro {
  border: 2px solid #0d0d0d;
}
.ncs4-bp-check__pro:checked ~ .ncs4-bp-buttons .ncs4-bp-btn__pro p {
  text-decoration: underline;
}
.ncs4-bp-check__pro:checked ~ .wp-block-ncs4-custom-blocks-mixed-section.ncs4-bp-content__pro,
.ncs4-bp-check__pro:checked ~ * .wp-block-ncs4-custom-blocks-mixed-section.ncs4-bp-content__pro {
  display: block !important;
}
.ncs4-bp-check__college:checked ~ .ncs4-bp-buttons .ncs4-bp-btn__college {
  border: 2px solid #0d0d0d;
}
.ncs4-bp-check__college:checked ~ .ncs4-bp-buttons .ncs4-bp-btn__college p {
  text-decoration: underline;
}
.ncs4-bp-check__college:checked ~ .wp-block-ncs4-custom-blocks-mixed-section.ncs4-bp-content__college,
.ncs4-bp-check__college:checked ~ * .wp-block-ncs4-custom-blocks-mixed-section.ncs4-bp-content__college {
  display: block !important;
}
.ncs4-bp-check__hs:checked ~ .ncs4-bp-buttons .ncs4-bp-btn__hs {
  border: 2px solid #0d0d0d;
}
.ncs4-bp-check__hs:checked ~ .ncs4-bp-buttons .ncs4-bp-btn__hs p {
  text-decoration: underline;
}
.ncs4-bp-check__hs:checked ~ .wp-block-ncs4-custom-blocks-mixed-section.ncs4-bp-content__hs,
.ncs4-bp-check__hs:checked ~ * .wp-block-ncs4-custom-blocks-mixed-section.ncs4-bp-content__hs {
  display: block !important;
}
.ncs4-bp-check__marathon:checked ~ .ncs4-bp-buttons .ncs4-bp-btn__marathon {
  border: 2px solid #0d0d0d;
}
.ncs4-bp-check__marathon:checked ~ .ncs4-bp-buttons .ncs4-bp-btn__marathon p {
  text-decoration: underline;
}
.ncs4-bp-check__marathon:checked ~ .wp-block-ncs4-custom-blocks-mixed-section.ncs4-bp-content__marathon,
.ncs4-bp-check__marathon:checked ~ * .wp-block-ncs4-custom-blocks-mixed-section.ncs4-bp-content__marathon {
  display: block !important;
}
.ncs4-bp-check-not {
  display: none;
}
.ncs4-bp-check-not__pro:checked ~ .ncs4-bp-content__pro {
  display: none !important;
}
.ncs4-bp-check-not__pro:checked ~ * .ncs4-bp-content__pro {
  display: none !important;
}
.ncs4-bp-check-not__college:checked ~ .ncs4-bp-content__college {
  display: none !important;
}
.ncs4-bp-check-not__college:checked ~ * .ncs4-bp-content__college {
  display: none !important;
}
.ncs4-bp-check-not__hs:checked ~ .ncs4-bp-content__hs {
  display: none !important;
}
.ncs4-bp-check-not__hs:checked ~ * .ncs4-bp-content__hs {
  display: none !important;
}
.ncs4-bp-check-not__marathon:checked ~ .ncs4-bp-content__marathon {
  display: none !important;
}
.ncs4-bp-check-not__marathon:checked ~ * .ncs4-bp-content__marathon {
  display: none !important;
}

/*# sourceMappingURL=style.css.map */
