.ncs4-fluid-layout-item {
  $max-mins: 1000px, 60vw, 100%;

  --minw: max(0px, min(var(--min-width), #{$max-mins}));
  --maxw: max(var(--max-width), var(--minw));

  min-width: var(--minw);
  &.has-max-width {
    max-width: var(--maxw);
  }
}
