@use "sass:color";
@import "../../sass/colors";

$category-spacing: 1.2rem;
$button-margin-right: 1.5rem;
$button-margin-bottom: 0.8rem;
$border-color: $color_text-black;
$border-width: 2px;

@mixin btn-active {
  border: $border-width solid $border-color;

  p {
    text-decoration: underline;
  }
}

@mixin industry-btn($name, $color) {
  &__#{$name} {
    background-color: $color;

    &:hover, &:focus {
      background-color: $color;
    }
  }
}

.ncs4-bp-buttons {

  .ncs4-bp-btn {
    color: $color_text-white;
    font-size: 0.95rem;
    text-align: left;
    background: none;
    padding: 0.8rem;
    margin-right: $button-margin-right;
    margin-bottom: $button-margin-bottom;
    border: $border-width solid transparent;

    @include industry-btn("pro", $color_pro-title);
    @include industry-btn("college", $color_college-title);
    @include industry-btn("hs", $color_hs-title);
    @include industry-btn("marathon", $color_marathon-title);

    p {
      margin: 0;
    }

    @at-root .ncs4-bp-lbl {
      margin: 0;
      font-weight: bold;
      font-size: 2rem;
    }

    &:last-of-type {
      margin-right: 0;
    }

    &:hover, &:focus {
      @include btn-active();
      transform: scale(1.1);
    }

    &:active {
      transform: scale(0.9);
    }

    &:focus, &:focus-visible {
      outline: none;
    }

    @media (prefers-reduced-motion) {
      & {
        transform: none !important;
      }
    }
  }
}

@mixin bp-check($name) {
  &__#{$name}:checked ~ .ncs4-bp-buttons .ncs4-bp-btn__#{$name} {
    @include btn-active();
  }

  /* Special Case for mixed sections */
  &__#{$name}:checked {
    ~ .wp-block-ncs4-custom-blocks-mixed-section,
    ~ * .wp-block-ncs4-custom-blocks-mixed-section {
      &.ncs4-bp-content__#{$name} {
        display: block !important;
      }
    }
  }
}

@mixin bp-not-check($name) {
  &__#{$name}:checked {
    ~ .ncs4-bp-content__#{$name} {
      display: none !important;
    }

    ~ * .ncs4-bp-content__#{$name} {
      display: none !important;
    }
  }
}

.ncs4-bp-check {
  display: none;

  @include bp-check("pro");
  @include bp-check("college");
  @include bp-check("hs");
  @include bp-check("marathon");

  &-not {
    display: none;

    @include bp-not-check("pro");
    @include bp-not-check("college");
    @include bp-not-check("hs");
    @include bp-not-check("marathon");
  }
}
