/* These colors are kept for compatibility reasons and should not be used */
/* These colors may be used */
/* Colors are swapped around to be in order from darkest to lightest */
/* Navy */
/* Dark Blue */
/* Yellow */
/* Grey */
/* Links */
/* These colors are kept for compatibility reasons and should not be used */
/* These colors may be used */
/* Colors are swapped around to be in order from darkest to lightest */
/* Navy */
/* Dark Blue */
/* Yellow */
/* Grey */
/* Links */
.ncs4-popup__wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}
.ncs4-popup__wrapper:focus-within .ncs4-popup-overlay {
  display: block;
}
.ncs4-popup-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #000;
  pointer-events: all;
}
.ncs4-popup-overlay:hover {
  cursor: default;
}
.ncs4-popup__name {
  text-transform: none;
  margin-top: 0;
  color: #037fff;
}
.ncs4-popup__popup-dismiss-link {
  margin-left: auto;
  margin-bottom: auto;
  transition: transform 0.1s ease-in-out;
}
.ncs4-popup__popup-dismiss-link:hover, .ncs4-popup__popup-dismiss-link:focus, .ncs4-popup__popup-dismiss-link:focus-visible {
  border-radius: 50%;
  box-shadow: 0 0 10px 3px #037fff;
}
@media (prefers-reduced-motion: no-preference) {
  .ncs4-popup__popup-dismiss-link:hover, .ncs4-popup__popup-dismiss-link:focus, .ncs4-popup__popup-dismiss-link:focus-visible {
    transform: scale(1.1);
  }
}
.ncs4-popup__popup-dismiss-link:focus-visible, .ncs4-popup__popup-dismiss-link:visited:focus-visible {
  outline: none;
}
.ncs4-popup__popup-dismiss {
  display: block;
  width: 32px;
  height: 32px;
}
.ncs4-popup__popup-dismiss .dismiss_svg__cls-1 {
  fill: #e6e6e6;
}
.ncs4-popup__popup-dismiss .dismiss_svg__cls-2 {
  stroke: #037fff;
}
.ncs4-popup-button {
  align-self: end;
  margin-top: auto;
}
.ncs4-popup-content {
  display: flex;
  overflow: hidden auto;
  pointer-events: all;
  flex-direction: column;
  max-height: 80vh;
  width: 100%;
  margin: 0 auto;
  padding: 3.2rem;
  padding-top: 0;
  overflow: hidden auto;
  border: 16px solid var(--palette-bg-color, #fff);
  border-radius: 16px;
}
.ncs4-popup-content.size-alert {
  max-width: min(30ch, 80vw);
}
.ncs4-popup-content.size-small {
  max-width: min(600px, 80vw);
}
.ncs4-popup-content.size-body {
  max-width: min(1000px, 80vw);
}
.ncs4-popup-content.size-large {
  max-width: min(1720px, 80vw);
}
.ncs4-popup-content__wrapper {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}
.ncs4-popup__popup-title {
  text-transform: none;
  margin: 0 0 0.25em 0;
  color: #037fff;
}
.ncs4-popup__popup-header {
  display: flex;
  gap: 0.5em;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  margin-top: 12px;
}
.ncs4-popup__popup-body {
  overflow: hidden auto;
  padding: 1em;
  padding-left: 0;
}
.popup-has-shadow .ncs4-popup__popup-body {
  padding-left: 1em;
  box-shadow: inset 0 8px 16px -16px #040303;
}

.ncs4-award-card {
  display: flex;
  flex-direction: column;
  background-color: #e6e6e6;
  padding: 1.5rem 2.5rem;
  height: 100%;
}
.ncs4-award-card__name {
  text-transform: none;
  margin-top: 0;
  color: #037fff;
}
.ncs4-award-card__description {
  margin-bottom: 2em;
  text-overflow: ellipsis;
  overflow: hidden;
}
.ncs4-award-card .ncs4-award-recipient__name {
  font-weight: bold;
}
.ncs4-award-card .ncs4-award-recipient__position, .ncs4-award-card .ncs4-award-recipient__year {
  font-style: italic;
}
.ncs4-award-card .ncs4-award-recipient__header {
  margin-top: 1.6em;
  font-weight: bold;
}
.ncs4-award-card .ncs4-award-recipient__header[depth="0"] {
  background-color: #0061CD;
  color: #f4f4f4;
  padding: 0.4em 0.8em;
  margin-bottom: 0.4em;
  text-transform: uppercase;
}
.ncs4-award-card .ncs4-award-recipient__header[depth="1"] {
  color: #0061CD;
  font-style: italic;
}
.ncs4-award-card .ncs4-award-recipient__header[depth="2"] {
  text-decoration: underline;
}
.ncs4-award-card__popup-content p {
  margin-top: 0;
}
.ncs4-award-card .ncs4-award-card__recipient-section-header {
  text-transform: uppercase;
  font-weight: bold;
  color: #00499A;
  margin-top: 1.5em;
}
.ncs4-award-card .ncs4-award-card__recipient-section-org-header {
  font-weight: bold;
  margin-top: 0.8em;
}

/*# sourceMappingURL=style.css.map */
