.ncs4-popup {

  &__wrapper {
    display: none !important;
  }

  &-content {
    overflow-y: visible;
    max-height: unset;
    padding: 0;
    border: none;
    border-radius: 0;

    &__wrapper {
      display: block;
      position: static;
    }
  }
}
