@use 'sass:math';
@import '../../sass/ncs4-pro-colors';

@import '../../popup/sass/style';

.ncs4-bio {

  &-header {
    display: flex;
    flex-direction: row;
    column-gap: 2em;

    &-seperator {

    }
  }

  &-img {
    img {
      display: block;
    }
  }

  &-position {
    font-style: italic;
  }

  &-col {

    &2 {
      margin: auto auto 0 0;
    }
  }
}
