@use 'sass:math';
@import '../../sass/ncs4-pro-colors';

@import '../../popup/sass/style';

.ncs4-bio {

  &-header {
    display: flex;
    flex-direction: row;
    column-gap: 2em;

    .ncs4-bio-position {
      margin-bottom: 1em;
    }
  }

  &-img {
    img {
      display: block;
    }
  }

  &-name {
    margin-top: 0.5em;
    margin-bottom: 0;
  }

  &-position {
    margin-top: 0;
    margin-bottom: 1.5em;
    font-style: italic;
  }

  &-col {

    &1 {
      flex: 1 0 auto;
    }

    &2 {
      margin: auto auto 0 0;
      flex: 0 1 100%;
    }
  }
}
