@import '../../sass/ncs4-pro-colors';

.ncs4-popup {
  $dismiss-icon-spread: 10px;
  $dismiss-icon-scale: 1.1;

  &__wrapper {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    width: 100vw;
    height: 100vh;
    pointer-events: none;

    &:focus-within .ncs4-popup-overlay {
      display: block;
    }
  }

  &-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #000;
    pointer-events: all;

    &:hover {
      cursor: default;
    }
  }

  &__name {
    text-transform: none;
    margin-top: 0;
    color: $color_link-1;
  }

  &__popup-dismiss-link {
    margin-left: auto;
    margin-bottom: auto;
    transition: transform 0.1s ease-in-out;

    &:hover, &:focus, &:focus-visible {
      border-radius: 50%;
      box-shadow: 0 0 $dismiss-icon-spread 3px $color_link-1;

      @media (prefers-reduced-motion: no-preference) {
        & {
          transform: scale($dismiss-icon-scale)
        }
      }
    }

    &:focus-visible, &:visited:focus-visible {
      outline: none;
    }
  }

  &__popup-dismiss {
    display: block;
    width: 32px;
    height: 32px;

    .dismiss_svg__cls-1 {
      fill: $color_white-dark;
    }

    .dismiss_svg__cls-2 {
      stroke: $color_link-1;
    }
  }

  &-button {
    align-self: end;
    margin-top: auto;
  }

  &-content {
    $max-vw: 80vw;

    display: flex;
    overflow: hidden auto;
    pointer-events: all;
    flex-direction: column;
    max-height: 80vh;
    width: 100%;
    margin: 0 auto;
    padding: 3.2rem;
    padding-top: 0;
    overflow: hidden auto;
    border: 16px solid var(--palette-bg-color, #fff);
    border-radius: 16px;

    &.size-alert {
      max-width: min(30ch, #{$max-vw});
    }

    &.size-small {
      max-width: min(600px, #{$max-vw});
    }

    &.size-body {
      max-width: min(1000px, #{$max-vw});
    }

    &.size-large {
      max-width: min(1720px, #{$max-vw});
    }

    &__wrapper {
      display: flex;
      position: absolute;
      height: 100%;
      width: 100%;
      flex-direction: column;
      justify-content: center;
    }
  }

  &__popup-title {
    text-transform: none;
    margin: 0 0 0.25em 0;
    color: $color_link-1;
  }

  &__popup-header {
    display: flex;
    gap: 0.5em;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    margin-top: $dismiss-icon-spread * $dismiss-icon-scale + 1px;
  }

  &__popup-body {
    overflow: hidden auto;
    padding: 1em;
    padding-left: 0;
  }

  .popup-has-shadow &__popup-body {
    padding-left: 1em;
    box-shadow: inset 0 8px 16px -16px $color_secondary-0c;
  }

}
