@use 'sass:math';
@import '../../sass/ncs4-pro-colors';

.ncs4-popup {
  a {

    &:focus-within {

      & .ncs4-popup-overlay {
        display: block;
      }
    }
  }

  &-overlay {
    display: none;
    text-decoration: none;

  }
}
