@use 'sass:math';
@import '../../sass/ncs4-pro-colors';

.ncs4-popup {
  a {

    &:focus-within {

      & .ncs4-popup-overlay {
        display: block;
      }
    }
  }

  &__wrapper {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
  }

  &-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #000;
    pointer-events: all;

    &:hover {
      cursor: default;
    }
  }

  &-content {
    pointer-events: all;

    &__wrapper {
      display: flex;
      position: absolute;
      height: 100%;
      width: 100%;
      flex-direction: column;
      justify-content: center;
    }
  }
}
